#nav{
    height: 50px;
}
.drop_item{
    opacity: 0;
}

.drop{
    height: 50px;
    margin: 0;
    background-color: #202d74;
    color: #FFFFFF;
}

.drop_item.show{
    height:100px;
    opacity: 1;
}

.drop1{
    float: left;
    width: 200px;
    text-align: center;
    line-height: 50px;

}
.nav_item{
    width: 200px;
    position: absolute;
    z-index: 10;
    background-color:#202d74;
}
.drop1:not(:last-child){
    border-right:2px solid #ddd;
    }
  
@media screen and (max-width: 750px) {
    #main2{
        height: auto;
    }
    #main2_left{
        height: auto;
        width: 100vw;
        float: left;
        margin-right: 42px;
        color: #202d74;
    }
   #nav{
   
   }
    #nav.active{
        z-index: 10;
        position: absolute;
        pointer-events: none;
        cursor: pointer;
        display: block;
            position: fixed;
           top:0;
            right: 10px;
       
    }
    .drop1{
       line-height: 30vw;
        width: 80%;
        cursor: pointer;
    }
.drop{
   height: 20vh;
}
   
    #nav.inactive{
      display: none;
       
    }
   
    .toggle_btn{
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
        background-color: rgb(182, 182, 182);
    }
    .toggle_btn span {
        display: block;
        position: absolute;
        left: 5px;
        width: 30px;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 4px;
        transition: all .5s;

    }
    .toggle_btn span:nth-of-type(1) {
        top: 9px;
    }
    .toggle_btn span:nth-of-type(2) {
        top: 19px;
    }
    .toggle_btn span:nth-of-type(3) {
        bottom: 8px;
    }
    .active span:nth-of-type(1) {
        -webkit-transform: translateY(10px) rotate(-45deg);
        transform: translateY(10px) rotate(-45deg);
      }
     .active span:nth-of-type(2) {
        opacity: 0;
      }
     .active span:nth-of-type(3) {
        -webkit-transform: translateY(-10px) rotate(45deg);
        transform: translateY(-10px) rotate(45deg);
      }
      
      .nav{
          width: 100vw;
          height: 100vh;
          background-color: aqua;
          z-index: 1000;
      }
    
}


